.item_icon {
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.table tbody tr:nth-child(odd){
    background-color: #4E5D6C; 
}

#tableGw2Items tbody tr:nth-child(odd) {
    background-color: #4E5D6C; 
}

#tableGw2Items td {
    vertical-align: middle !important;
    line-height: 40px;
}

#tableGw2Items a {
    text-decoration: none;
}

.gold {
    color : #ffd700;
}

.silver {
    color : #c0c0c0;
}

.copper {
    color : #d47f46;
}

.itemListing {
    height: 275px;
    overflow: auto;
}

#farmTable td {
    vertical-align: middle !important;
}

#farmTable .btn {
    padding: 0.200rem 0.50rem;
    font-size: 0.875rem !important;
}