body {
    /*height: 1080px;*/
}

.container {
    margin-top: 20px;
}

#cv {
    height: 1080px;
    width: 100%;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}
