{% extends 'base.html.twig' %}

{% block title %}Edit ResourcesLocation{% endblock %}

{% block body %}
    <h1>Edit ResourcesLocation</h1>

    {{ include('resources_location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('resources_location_index') }}">back to list</a>

    {{ include('resources_location/_delete_form.html.twig') }}
{% endblock %}
