<form class="col-6" method="post" action="{{ path('farm_delete', {'id': farm.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet item ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ farm.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
